.personPanel {
	background-color: rgba(0,0,0,0);
	width: 100%;
	text-align: right;
}
.personPanel img {
	float: left;
}
.personPanel span {
	float: left;
	font-size: 20px;
}
.personPanel p {
	display: inline;
	margin: 0;
	text-transform: initial;
}

.friend-bubble {
	display: inline-block;
}

.mdl-chip__text {
	vertical-align: top;
	margin-left: 4px;
}
.myIcon {
	vertical-align: middle;
	padding-left: 5px;
	cursor: pointer;
}
.friendIcon {
	margin-bottom: 5px;
}