.eventsContainer .socialDrawerContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 100;
}
.going, .invites{
	margin: 0 auto;
	margin-top: 10px;
	font-size: 20px;
	color: black;
}
.underlined {
	text-decoration: underline;
	transition: text-decoration ;
}

.socialTitle .inviteFriends {
	vertical-align: text-bottom;
	width: 30%;
	margin-right: 20%;
	margin-left: 30%;
}
.eventsLoading {
	text-align: center;
}
#popup {
	z-index: 100;
}
#popup input {
	font-size: 16px;
}

#socialDrawerHeader {
	display: none;
}
#socialNav {
	padding-top: 0;
	width: 100%;
	height: 100%;
}

.events {
	margin-left: 8%;
	margin-right: 8%;
}
#socialSpan {
	margin: 0;
	width: 100%;
}
#socialMinimize {
	text-align: right;
	cursor: pointer;
	margin: 0 0;
}
#socialH3 {
	margin: 0;
}
#socialButton {
	margin: 0;
	margin-left: auto;
	padding: 0;

}
#socialButton p {
	margin: 0;
	font-size: 4vw;
}

:host {
	overflow: hidden;
}

#soundcloud_widget {
	display: none;
}

.mdl-layout__header-row{
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 10;
}
.mdl-layout__header--small-screen-only {
	z-index: 10;
}
.mdl-layout-title{
	margin: auto;
	font-size: 4vw;
}

.mdl-layout__header--small-screen-only .mdl-layout__header-row {
	padding-left: 16px;
}
.showgoHeader {
	height: 65px;
	-webkit-overflow-scrolling: touch;
}

.eventsContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 92%;
	background-color: rgba(0,0,0,.5);
}
.nav .navLink {
	padding-left: 0;
}

.mdl-navigation__link {
	cursor: pointer;
}

 @media screen and (max-width: 480px) {
	.events {
		margin-left: 0;
		margin-right: 0;
	}
 }