<div class="eventsContainer">
	<div id="socialDrawerDiv" #socialContainer class="mdl-layout__container socialDrawerContainer">
		<div #socialDrawer  class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header id="socialDrawerHeader" class="mdl-layout__header">
			</header>
			<div #drawer class="mdl-grid mdl-layout__drawer">
				<!--SOCIAL-->
    	    	<h3 id="socialH3" class="mdl-cell mdl-cell--7-col mdl-cell--5-col-tablet mdl-cell--1-col-phone">Social</h3>
    	    	<!--INVITE BUTTON-->
    	    	<button (click)="openInvite()" id="socialButton" class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><p *ngIf="!inviteOpen">Invite Friends</p><p *ngIf="inviteOpen">See Attendance</p></button>
				<!--CLOSE-->
				<i id="socialMinimize" class="fa fa-times-circle fa-2x mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone" (click)="closeSocial()"></i>
				<!--ATTENDANCE LISTING-->
	    	    <nav *ngIf="!inviteOpen"  id="socialNav" class="mdl-navigation nav">
					<a *ngFor="let friend of currentEvent.social" class="mdl-navigation__link navLink">
						<friend-bubble (idSender)="addFriend($event)" [friend]="friend">
						</friend-bubble>
					</a>
			    </nav>
			    <!--INVITATION LISTING-->
	    	    <nav *ngIf="inviteOpen"  id="socialNav" class="mdl-navigation nav">
					<a *ngFor="let friend of user.friends" class="mdl-navigation__link navLink">
						<friend-invite [friend]="friend" (inviteSender)="inviteFriend($event)"></friend-invite>
					</a>
			    </nav>
			</div>
		</div>
	</div>
	<!-- EVENT LISTING -->
	<event #eventComps *ngFor="let event of events | eventsFilter:filterArgs" [event]="event" [user]="user" (socialSender)="openSocial($event)" >
	</event>
</div>

<!--
<iframe #soundcloudWidget id="soundcloud_widget"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/317619385&auto_play=false"
  width="420"
  height="120"
  frameborder="no">
</iframe>
<div #popup>
	<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
		<div class="mdl-snackbar__text"></div>
		<button class="mdl-snackbar__action" type="button"></button>
	</div>
</div>

-->
