#splashMessage {
	height: auto;
	background-color: rgba(0,0,0,.5);
	border-radius: 4px;
	padding-left: 50px;
	padding-top: 5px;
	padding-right: 50px;
	padding-bottom: 5px;
	margin-top: 15%;
	text-align: center;
}

h5 {
	color: white;
}
u {
	cursor: pointer;
}
#splashSignup {
	color: #3333FF;
}

#splashSignupContainer {
	text-align: center;
	margin-bottom: 16px;
}
