<div #drawer class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span id="mainTitle" (click)="home()" class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a *ngIf="!user.dbId" class="mdl-navigation__link" (click)="login()">Signup</a>
        <a *ngIf="!user.dbId" class="mdl-navigation__link" (click)="login()">Login</a>
        <a *ngIf="user.dbId" class="mdl-navigation__link" (click)="logout()">Logout</a>
        <a *ngIf="user.dbId" class="mdl-navigation__link" >{{user.displayName}}</a>
        <img *ngIf="user.dbId" class="mdl-chip__contact" src={{user.picture}}/>
      </nav>
      <nav class="mdl-navigation mdl-layout--small-screen-only">
        <button id="demo-menu-lower-right"
            class="mdl-button mdl-js-button mdl-button--icon">
            <i *ngIf="!user.dbId" class="material-icons myIcon">more_vert</i>
            <img *ngIf="user.dbId" class="mdl-chip__contact" src={{user.picture}}/>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
          <li *ngIf="user.dbId" class="mdl-menu__item">{{user.displayName}}</li>
          <li *ngIf="!user.dbId" class="mdl-menu__item" (click)="login()">Signup</li>
          <li *ngIf="!user.dbId" (click)="login()" class="mdl-menu__item">Login</li>
          <li *ngIf="user.dbId" (click)="logout()" class="mdl-menu__item">Logout</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">ShowGo</span>
    <nav class="mdl-navigation">
      <a (click)="filter('all')" class="mdl-navigation__link" >All Shows</a>
      <a (click)="filter('me')" class="mdl-navigation__link" >My Shows</a>
      <a (click)="filter('friends')" class="mdl-navigation__link" >Friends' Shows</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <router-outlet></router-outlet>
  </main>
</div>

