.demo-layout-transparent {
    background: url('../assets/banner.jpg') center / cover;
    position: fixed;
}


.mdl-layout__header, .myIcon, .mdl-layout-title{
	color: white;
}

.mdl-layout-title {
    color: black;
}
.mdl-menu__item.hiding {
    display: none;
}
#badge{
    margin-right: 0;
}

#badge::after {
    top: 5px;
    right: -13px;
    width: 20px;
    height: 20px;
    margin-right: 0;
}
.alertBadge::after {
    top: -2px;
    right: -31px;
    width: 18px;
    height: 18px;
}
#mainTitle {
    color: white;
    cursor: pointer;
}

.mdl-layout__header--small-screen-only .mdl-layout-title {
    font-size: 4vw;
}

.mdl-layout__header--small-screen-only .mdl-layout__header-row {
	padding-left: 16px;
}

.mdl-navigation__link {
    cursor: pointer;
}

.mdl-layout__header--small-screen-only, .mdl-layout__header {
    background-color: rgba(0,0,0,.7);
}
main {
    overflow: hidden;
    color: white;
}
.userName {
    color: white;
}

#loading {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}