.mdl-chip .mdl-chip--contact .mdl-chip--deletable {
	background-color: rgba(0,0,0,0);
}

.friend-bubble {
	display: inline-block;
}

.mdl-chip__text {
	vertical-align: top;
	margin-left: 4px;
}

.myIcon {
	vertical-align: middle;
	padding-left: 5px;
	cursor: pointer;
}