.personPanel{
	background-color: rgba(0,0,0,0);
	width: 100%;
	text-align: right;
}
.personPanel img {
	float: left;
}
.personPanel p {
	display: inline;
	margin: 0;
	text-transform: initial;
}
.personPanel span {
	float: left;
	font-size: 20px;
}

.friend-bubble {
	display: inline-block;
}

.mdl-chip__text {
	vertical-align: top;
	margin-left: 4px;
}

.myIcon {
	vertical-align: middle;
	cursor: pointer;
}

.friend {
	color: #183E64;
}
.friendIcon {
	margin: 0 auto;

}
.personalPanel button {
	min-width: 50px;
    padding: 0;
}

