.titleText {
	margin: 0;
}
.topRow .playButtonDiv {
	text-align: right;
	margin: 0 auto;
}
.topRow .playButtonDiv i{
	font-size: 45px;
	cursor: pointer;
}

.mdl-cell {
	margin: 0;
}
.eventContainer .middleRow {
	text-align: center;
	font-style: italic;
}
.eventContainer .middleRow div{
	margin: 0 auto;
}
.eventContainer .middleRow h6{
	margin: 0;
}

.eventContainer .bottomRow div{
	text-align: center;
	margin: 0 auto;
}
.eventContainer .bottomRow h5{
	margin: 0;
	margin-bottom: 4px;
}
.bottomRow .fbButton {
	min-width: 40px;
	width: 40px;
}
.bottomRow .fbButton .clicked {
	background-color: #009688;
}
.bottomRow .fbButton i{
	margin-left: -8px;
}
.bottomRow .fbButton .calIcon{
	margin-left: -6px;
	margin-top: -18px;
	font-size: 21px;
}
.bottomRow .fbButton .questionIcon{
	margin-left: -1px;
	margin-top: 3px;
}


/*
.eventContainer .eventLeft .clicked {
	background-color: #009688;
}

.eventContainer {
	background-color: rgba(0,0,0,.5);
}
.eventContainer .eventData .showing {
	background-color: rgba(255,64,129, 0.5);
}

.timeSpan {
	vertical-align: top;
}
.timeDiv {
	text-align: center;
	padding-bottom: 5px;
}

.listenButton, .peopleButton {
	min-width: 0;
	width: 40%;
	text-align: center;
}

h4, h5 {
	margin: 0;
}

.buttonDiv {
	text-align: center;
	margin: auto;
}

.eventLeft .fbButton {
	width: 100px;
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 3px;
	background-color: #183E64;
}

.eventLeft .dateDivider {
	display: none;
}

.eventLeft .questionIcon {
	position: relative;
	left: 12px;
	top: 3px;
}

.eventLeft .calIcon {
	margin-right: 3px;
}

@media only screen and (max-width: 400px) {
	.eventData {
		margin-left: 4px;
		margin-right: 4px;
		border-right: white solid 1px;
		padding-right: 8px;
	}

	.eventLeft .fbButton {
		min-width: 0;
		width: 60px;
	}
	.eventLeft .fbButton span {
		display: none;
	}
	.question {
		width: 90%;
	}

	.fbButton .myIcon {
		vertical-align: middle;
	}
	.eventLeft .dateDivider {
		display: block;
		min-width: 60px;
	}
	.eventLeft .questionIcon {
		left: 5px;
	}
	.eventLeft .calIcon {
		margin-right: 0;
		margin-left: -7px;
	}
}

@media only screen and (min-width: 600px) {

	.listenButton, .peopleButton {
		width: 20%;
		margin-top: 2px;
		margin-bottom: 4px;
	}

}
*/