<div class="eventContainer">
	<div class="mdl-grid topRow">
		<!-- Title -->
		<div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
		  	<h4 class="titleText">{{event.name}}</h4>
		  	<!--
		  	<div class="buttonDiv">
		  		<button [class.showing]="showBands" (click)="toggleBands()" class="mdl-button mdl-js-button mdl-button-=-raised mdl-js-ripple-effect mdl-button-=-accent listenButton">Listen</button>
		  		<button [class.showing]="showFriends" class="mdl-button mdl-js-button mdl-button-=-raised mdl-js-ripple-effect mdl-button-=-accent peopleButton" (click)="toggleFriends()">People</button>
		  	</div>-->
		</div>
		<!-- Play Button -->
	  	<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone playButtonDiv">
		  	<i [class.showing]="showBands" (click)="toggleBands()" class="material-icons">play_circle_filled</i>
		  	<!--
		  	<div class="timeDiv">
		  		<i class="material-icons myIcon">event_note</i>
		  		<h5 class="timeSpan">{{event.timeString}}</h5>
		  	</div>
		  	<hr class="dateDivider">
		  	<button class="mdl-button mdl-js-button mdl-button-=-raised mdl-js-ripple-effect mdl-button-=-accent fbButton" (click)="eventAction('join')" [disabled]="!buttonsEnabled" [class.clicked]="joined">
		  		<i class="material-icons myIcon">event_available</i>
		  		<span>Join</span>
		  	</button>
		  	<button class="mdl-button mdl-js-button mdl-button-=-raised mdl-js-ripple-effect mdl-button-=-accent fbButton" (click)="eventAction('interested')" [disabled]="!buttonsEnabled" [class.clicked]="interest">
		  		<i class="fa fa-question questionIcon" aria-hidden="true"></i><i class="fa fa-calendar-o fa-lg calIcon" aria-hidden="true"></i><span>Maybe</span>
		  	</button>
		  	<button class="mdl-button mdl-js-button mdl-button-=-raised mdl-js-ripple-effect mdl-button-=-accent fbButton" (click)="eventAction('ignore')" [disabled]="!buttonsEnabled" [class.clicked]="ignored">
		  		<i class="material-icons myIcon">event_busy</i>
		  		<span>Nah</span>
		  	</button>
		  	-->
		</div>
	</div>
	<div class="mdl-grid middleRow">
		<!-- Venue -->
		<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
			<h6>{{event.venue}}</h6>
		</div>
		<!-- Location -->
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
			<h6>{{event.location}}</h6>
		</div>
		<!-- Date -->
		<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
			<h6>{{event.timeString}}</h6>
		</div>
	</div>
	<div class="mdl-grid bottomRow">
		<!-- Social -->
		<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
			<h5 *ngIf="showFriendString" >{{event.friendString}}</h5>
			<button class="socialButton">Social</button>
		</div>
		<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
			<h5>Attend?</h5>
			<span>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fbButton" (click)="eventAction('join')" [disabled]="!buttonsEnabled" [class.clicked]="joined">
			  		<i class="material-icons">event_available</i>
				</button>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fbButton" (click)="eventAction('interested')" [disabled]="!buttonsEnabled" [class.clicked]="interest">
		  			<i class="fa fa-question questionIcon" aria-hidden="true"></i>
		  			<i class="fa fa-calendar-o fa-lg calIcon" aria-hidden="true"></i>
				</button>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fbButton" (click)="eventAction('ignore')" [disabled]="!buttonsEnabled" [class.clicked]="ignored">
		  			<i class="material-icons">event_busy</i>
				</button>
			</span>
		</div>
	</div>
	<!-- USEFUL FOR LATER SOCIAL POPUP
	<div *ngIf="showFriends" >
			<friend-bubble *ngFor="let friend of event.social" (idSender)="addFriend($event)" [friend]="friend"></friend-bubble>
	</div>
	-->
	<div *ngIf="showBands">
		<band *ngFor="let band of event.bands" [band]="band"></band>
	</div>
	<hr>
</div>