.titleText {
	margin: 0;
}
.topRow .playButtonDiv {
	margin: auto auto;
}
.topRow .playButtonDiv i{
	font-size: 60px;
	cursor: pointer;
	background-color: rgba(0,0,0,.1);
    width: 63px;
    border-radius: 4px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.topRow .playButtonDiv i.isShowing {
	color: grey;
	box-shadow: none;
}

hr {
	border-color: darkgrey;
	width: 100%;
	margin: 5px 0;
}
.mdl-cell {
	margin: 0;
}

.eventContainer {
	background-color: white;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
    color: black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.eventContainer .middleRow {
	text-align: center;
	background-color: white;
	color: black;
}
.eventContainer .middleRow div{
	margin: 2px auto;
	text-align: left;
}
.eventContainer .middleRow .extra {
	margin: 0 0;
	display: inline;
	vertical-align: text-bottom;
	font-size: 20px;
    text-decoration: underline;
    color: #183E64;
}
.eventContainer .middleRow h6{
	margin: 0;
	text-overflow: ellipsis;
}
.eventContainer .middleRow .location {
	color: darkgrey;
	cursor: pointer;
}

.eventContainer .middleRow .directionsDiv {
	cursor: pointer;
	position: relative;
    width: 100%;
}
.bands {
	margin-top: 3px;
	width: 100%;
}
.eventContainer .middleRow .address{
	font-style: italic;
	font-size: 14px;
	display: inline;
}
u.inviteFriends{
	width: 100px;
    padding-bottom: 7px;
    display: block;
}

.topHr {
	margin-top: 0;
}
.eventContainer .middleRow .directions{
	position: absolute;
    font-size: 45px;
    bottom: 3px;
    right: 0;
    color: black;
}
.eventContainer .middleRow .othersDiv {
	height: 40px;
    overflow-y: hidden;
    font-size: 1em;
    cursor: pointer;
}
.eventContainer .middleRow .othersDiv .beTheFirst {
	text-align: center;
	text-decoration: underline;
    color: #183E64;
}
.eventContainer .middleRow .others {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	text-align: center;
}
.eventContainer .middleRow .others img{
	margin-bottom: 10px;
}
.eventContainer .middleRow .friends {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-bottom: 5px;
}
.eventContainer .middleRow  u {
	font-size: 16px;
	color: #183E64;
}
.eventContainer .middleRow .addressIcon{
	vertical-align: top;
}
.bottomRow {
	padding-top: 0;
}
.eventContainer .bottomRow div{
	text-align: center;
	margin: auto auto;
}
.eventContainer .bottomRow h5{
	margin: 0;
	margin-bottom: 4px;
}
.eventContainer .bottomRow .date {
    background-color: rgba(0,0,0,.1);
    color: black;
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.eventContainer .bottomRow .date * {
	margin: 0 0;
}
.eventContainer .bottomRow .date .hour {
	background-color: #183E64;
	color: white;
}

.bottomRow .friendString {
	text-align: left;
}
.bottomRow .fbButton {
    width: 100%;
    text-transform: none;
    display: block;
    font-size: x-large;
    text-align: center;
    margin-bottom: 5px;
    background-color: #183E64;
    box-shadow: 0 2px 2px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.bottomRow .fbButton.clicked {
	background-color: #009688;
}
.bottomRow .fbButton i{
	float: left;
    margin-top: 5px;
}
.bottomRow .fbButton .calIcon{
	margin-left: -6px;
	margin-top: -18px;
	font-size: 21px;
}
.bottomRow .fbButton .questionIcon{
	margin-left: -1px;
	margin-top: 3px;
}
.bottomRow .socialButton {
	background-color: #183E64;
    color: white;
}
.bottomRow .copyLinkButton {
	background-color: #183E64;
    color: white;
}

