:host >>> friend-bubble button{
	background-color: #183E64;
	color: white;
	margin-right: 10px;
}

:host >>> friend-bubble .personPanel {
	margin-top: 10px;
	margin-left: 5px;
}

:host >>> friend-bubble .personPanel:active {
	background-color: rgba(0,0,0,0);
}

:host >>> friend-bubble button:hover{
	background-color: #183E64;
}
:host >>> friend-bubble .mdl-chip__text {
	color: white;
}

div {
	height: 100%;
	background-color: rgba(0,0,0,.5);
}

h3 {
	margin: 0;
}